<template>
    <div>
        <section class="principal">
            <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis laborum quae facilis repellendus, animi excepturi velit autem repudiandae voluptatibus porro neque in temporibus rerum ratione laudantium distinctio eaque sapiente adipisci? <br>
                COMPÉTENCES TECHNIQUE => CONSEILLERS EN SANTÉ AU TRAVAIL, CONSULTANT HYGIÉNE ET SÉCURITÉ, ERGONOMES, TOXICOLOGUE, SPÉCIALISTE EN RISQUE CHIMIQUE, CONSULTANT EN MÉTROLOGIE <br>
                COMPÉTENCES PSYCHO-SOCIALES => PSYCHOLOGUES, ASSISTANTE SOCIAL, CONSULTANT EN PRÉVENTION DE LA DÉSINSERTION PROFESSIONNELLE <br>
                COMPÉTENCES PÉDAGOGIQUES => INTERVENANT EN ACTION COLLECTIVE DE PRÉVENTION DES RISQUES PROFESSIONNELS, SPÉCIALISTE EN MÉDIATION <br>
                SUPPORTS => DOCUMENTALISTE <br>
            </p> -->

            <h2>Les spécialistes du suivi individuel :</h2>
            <p><strong>Consultant en prévention de la désinsertion professionnelle :</strong> Christophe MOUCHARD <br>
                <strong>Assistante sociale :</strong> Anne CLERVAL <br>
                <strong>Psychologues :</strong> Elisabeth BEAUDOIN, Stéphane BREUX <br>
                <strong>Spécialiste en médiation :</strong> Christelle FOSSARD <br>
                <strong>Chargée de développement PL14/PDP :</strong> Sonia OGER-POUTEAUX</p>
            <h2>Les spécialistes techniques :</h2>
            <p><strong>Ergonomes :</strong> Christelle JAFFRE, Meggie PATY <br>
                <strong>Spécialiste Risque Chimique :</strong> Céralia HELFAYA <br>
                <strong>Métrologue :</strong> Céline MERCEREAU <br>
                <strong>Toxicologue et Responsable conduite de projet :</strong> Olivier BALHAWAN</p>
            <h2>Les ressources polivalentes :</h2>
            <p><strong>Assistants Médicaux Polyvalents :</strong> Caroline ALVAREZ, Sandrine JEANNE, Tiphaine KERSERHO, Florence TOUTAIN <br>
                <strong>Infirmiers polyvalents :</strong> Laurie PASCUTTINI, Mélanie TILLAULT</p>
        </section>
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'centralPan'
        }
    }
    
}
</script>

<style lang="postcss" scoped>
.principal {
    height: 100%;
    margin: 0 10px 0 10px;
}

h2 {
    font-size: 20px;
    padding: 10px;
}
</style>