<template>
    <div>
        <h1>Choisir une date</h1>
        <form action="/home">
            <input class="btn" type="submit" value="Valider">
        </form>
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'dateChoice'
        }
    }
    
}
</script>

<style lang="postcss" scoped>
.btn {
    background-color: rgb(173, 216, 19);
    box-shadow: 1px 1px 1px black;
    border-radius: 8px;
    padding: 8px;
    margin: 30px;
    width: 90%;
} .btn:active {
    box-shadow: 1px 1px 1px black inset;
} .btn:focus {
    outline: none;
}

</style>