<template>
    <div class="content">
        <h1 class="title"><b>Première connexion</b></h1>
        <form class="form" action="home" method="post">
            <input class="input" type="text" name="" id="" placeholder="Identifiant">
            <input class="input" type="text" placeholder="mot de passe">
            <input class="input" type="text" placeholder="confirmer mot de passe">
            <div class="checkbox">
                <input type="checkbox" name="" id="check">
                <label for="check">Se souvenir de moi</label>
            </div>
            <button type="submit" value="">Valider</button>
        </form>
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'firstLogin'
        }
    }
    
}
</script>

<style lang="postcss" scoped>

.title {
    padding: 5% 0 5% 0;
    color: rgb(50, 122, 204);
    font-size: 40px;
}

.content, form {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 90%;
    max-width: 900px;
    padding-bottom: 5px;
    margin-top: 2%;
    box-shadow: 5px 5px 8px rgb(206, 206, 206); 
}

button {
    padding: 8px;
    margin: 5px;
    width: 90%;
}

.input {
    margin-top: 30px;
    width: 90%;
    /* background-color: rgb(242, 246, 255); */
    padding: 7px 0 7px 20px;
    border: none;
    border-bottom: 1px solid rgb(231, 231, 231);
}
input:focus {
    background-color: white;
    outline: none;
    border-bottom: 1px solid rgb(50, 122, 204);
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
} 

#check {
    width: 18px;
    height: 18px;
}

button {
    background-color: rgb(255, 208, 0);
    box-shadow: 1px 1px 1px black;
    border-radius: 8px;
    padding: 8px;
    margin: 30px;
    width: 90%;
}
button:active {
    box-shadow: 1px 1px 1px black inset;
}
button:focus {
    outline: none;
}

@media only screen and (max-width:768px) {
    [class*='form'] {
        width: 500px;
    }
}
@media only screen and (max-width: 450px) {
    [class*='form'] {
        width: 95%;
    }
    [class*='title'] {
        font-size: 25px;


    }
}
</style>