<template>
    <div id="header" fixed="top">
        <img class="img" src="../assets/logo_blanc_bandeau.png" alt="">
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'Header2'
        }
    }
    
}
</script>

<style lang="postcss" scoped>
#header {
    display: flex;
    /* justify-content: center; */
    box-shadow: 0 0 8px black;
    padding: 1%;
    background-color: rgb(50, 117, 204);
    position: fixed;
}

img {
    width: 30%;
}

@media only screen and (max-width:1024px) {
    [class*='header'] {
        width: 50;
    }
}

@media only screen and (max-width:768px) {
    [class*='img'] {
        width: 65%;
        padding: 10px;
    }
}

@media only screen and (max-width: 450px) {
    [class*='img'] {
        width: 80%;
        padding: 5px;
    }
}
</style>