<template>
    <div id="header" fixed="top">
        <img src="../assets/logo_pst.png" alt="">
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'Header'
        }
    }
    
}
</script>

<style lang="postcss" scoped>
#header {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 8px gray;
    padding: 5px 0 15px 0;
}
</style>