<template>
    <div class="content">
        <form action="first-login">
            <button class="blue-PST" type="submit" value="">Première connexion</button>
        </form>
        <form class="form" action="home" method="post">
            <input class="input" type="text" name="" id="" placeholder="Identifiant">
            <input class="input" type="text" placeholder="mot de passe">
            <div class="checkbox">
                <input type="checkbox" name="" id="check">
                <label for="check">Se souvenir de moi</label>
            </div>
            <li><a href="">Mot de passe perdu ?</a></li>
            <button class="button" type="submit" value="">Valider</button>
        </form>
        <form action="home">
            <button class="green-PST button" type="submit">Accès libre</button>
        </form>
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'login'
        }
    }
    
}
</script>

<style lang="postcss" scoped>

.content, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 90%;
    display: flex;
    justify-content: center;
    max-width: 900px;
    padding-bottom: 5px;
}

.form {
    margin: 5% 0 7% 0;
    box-shadow: 5px 5px 8px rgb(206, 206, 206);
}

.input {
    margin-top: 30px;
    width: 90%;
    /* background-color: rgb(242, 246, 255); */
    padding: 7px 0 7px 20px;
    border: none;
    border-bottom: 1px solid rgb(231, 231, 231);
}
input:focus {
    background-color: white;
    outline: none;
    border-bottom: 1px solid rgb(50, 117, 204);
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
} 

#check {
    width: 18px;
    height: 18px;
}

li {
    list-style: none;
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    color: rgb(50, 117, 204);
}

button {
    background-color: rgb(255, 208, 0);
    box-shadow: 1px 1px 1px black;
    border-radius: 8px;
    padding: 8px;
    margin: 30px;
    width: 90%;
} button:active {
    box-shadow: 1px 1px 1px black inset;
} button:focus {
    outline: none;
}

.green-PST {
    background-color: rgb(173, 216, 19);
}

.blue-PST {
    margin-top: 10%;
    background-color: rgb(50, 117, 204);
    color: white;
}

@media only screen and (max-width:768px) {
    [class*='form'] {
        width: 500px;
    }
}
@media only screen and (max-width: 450px) {
    [class*='form'] {
        width: 95%;
    }
    [class*='blue-PST'] {
        margin-top: 50px;
    }
}

@media only screen and (max-height: 720px) {
    [class*='blue-PST'] {
        margin-top: 20px;
    }
    [class*='button'] {
        margin: 10px;
    }
}

@media only screen and (max-height: 568px) {
    [class*='blue-PST'] {
        margin-top: 10px;
    }
    [class*='button'] {
        margin: 0px;
    }
}

</style>