<template>
    <div>
        <ul class="col">
            <li class="li" v-for="btn in links" :key="btn.id"><a v-bind:href="btn.link">{{btn.name}}</a></li>
        </ul>
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'navBar',
            links: [{id:1, link:'/home', name:'Home'}, {id:2, link:'/', name:'Index'},
            {id:3, link:'', name:'boutton 3'}, {id:4, link:'', name:'Sensibilisation'},
            {id:5, link:"/organizer", name:'Demande de rendez-vous'}, {id:6, link:'', name:'Espace personnel'}]
        }
    }
    
}
</script>

<style lang="postcss" scoped>
div {
    display: flex;
    height: 100%;
}

.col {
    /* max-width: 300px; */
    width: 20%;
    min-width: 300px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.li {
    margin: 0 0 10px 0.5px;
    border-bottom:1px solid gray;
    font-size: 19px;
    height: 140px;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(247, 186, 19);
    cursor: pointer;
} .li:hover {
    background-color: rgb(238, 192, 67);
} .li:active {
    box-shadow: 1px 1px 1px black inset;
    background-color: rgb(255, 174, 0);
}

div {
    height: 100%;
}

.principal {

}

@media only screen and (max-width:450px) {
    [class*='col'] {
        width: 100%;
    }
    [class='li'] {
        margin: 10px;
    }
}
</style>