<template>
    <div>
        <section class="principal">
            <h1 class="title">Prenez votre rendez-vous</h1>
            <form action="/date-choice">
                <div class="div-who">
                    <div>
                        <input type="radio" name="who" id="doc" 
                            v-on:click='value=false, result=0, disable=false'>
                        <label class="label" for="doc">Voir un médecin</label>
                    </div>
                    <div>
                        <input type="radio" name="who" id="expert" v-on:click='value=true, disable=true'>
                        <label class="label" for="expert">Voir un expert</label>        
                    </div>
                </div>
                <div class="div-why" v-if='value'>
                    <div>
                        <input type="radio" name="why" id="collective" v-on:click='result=1, disable=true'>
                        <label for="collective">Je souhaite résoudre un problème de groupe</label>
                        <div class='div-result'>
                            <div v-for="expert in experts" :key="expert.id">
                                <div v-if='result==1'>
                                    <input type="radio" name="expert" v-on:click='disable=false'>
                                    <label>{{expert.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="radio" name="why" id="individual" v-on:click='result=2, disable=false'>
                        <label for="individual">Je souhaite résoudre un problème individuel</label>
                    </div>
                    <div class='div-result'>
                        <p v-if='result==2'>Voir un medecin</p>
                    </div>
                </div>
                <div class="div-area">
                    <p>Description de la demande :</p>
                    <textarea :disabled='disable' class="area" id="" cols="1" rows="5"></textarea>
                </div>
                <input :disabled='disable' class="btn" type="submit" value="Choisir une date">
            </form>
        </section>
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'organizer',
            value: false,
            disable: true,
            result: 0,
            experts: [{id:1, name:'Psychologue'}, {id:2, name:'Ergonome'}, {id:3, name:'Risque chimique'},
                {id:4, name:'Médiation'}, {id:5, name:'Toxicologue'}, {id:6, name:'Assistante sociale'},
                {id:7, name:'prévention de désinsertion professionnelle'}, {id:8, name:'Métrologue'}]
        }
    }
}
</script>

<style lang="postcss" scoped>
.principal {
    /* height: 100%; */
    margin: 0 10px 0 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: rgb(173, 216, 19);
    text-shadow: 1px 1px 1px gray;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-who {
    display: flex;
    width: 70%;
    padding-bottom: 10px;
}

.div-why {
    padding: 10px 0 0 0;
    width: 70%;
}

.div-result {
    padding: 10px;
}

.label {
    padding-right: 30px;
}

.div-area {
    padding-top: 3%;
    width: 70%;
}

.area {
    border: 1px solid rgb(177, 177, 177);
    width: 100%;
    padding: 5px;
} .area:focus {
    outline: none;
    border: 1px solid rgb(255, 208, 0);
}

.btn {
    background-color: rgb(173, 216, 19);
    box-shadow: 1px 1px 1px black;
    border-radius: 8px;
    padding: 8px;
    margin: 30px;
    width: 90%;
} .btn:active {
    box-shadow: 1px 1px 1px black inset;
} .btn:focus {
    outline: none;
} .btn-off {
    background-color: gray;
}

@media only screen and (max-width: 768px) {
    [class*='title'] {
        font-size: 150%;
    }
    [class*='div-'] {
        width: 100%;
    }
}

@media only screen and (max-width: 356px) {
    [class*='title'] {
        font-size: 140%;
    }
    [class*='div-who'] {
        flex-direction: column;
    }
}
</style>