<template>
    <div class="aside">
        <h2 class="title">Planning de sensibilisation</h2>
        <div class="btn" v-for="btn in btns" :key="btn" v-on:click="active">
            {{ btn }}
        </div>
        <div v-if="activate == true"></div>
    </div>  
</template>
    
<script>
export default {
    data() {
        return {
            name: 'rightPan',
            btns: ['Incivilité et travail', 'Addictions et travail'],
            activate: false
        }
    },
    methods: {
            active: function() {
                if(this.activate == false) {
                    this.activate = true
                    console.log('true')
                } else {
                    this.activate == false
                    console.log('false')
                }
            }
    }
}
</script>

<style lang="postcss" scoped>
.aside {
    width: 20%;
    min-width: 300px;
}

.title {
    background-color: rgb(50, 117, 204);
    color: white;
    padding: 10px;
    text-align: center;
}

.btn {
    background-color: rgb(247, 186, 19);
    text-align: center;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 0.5px 1px black;
    cursor: pointer;
    /* width: 150px; */
} .btn:hover {
    background-color: rgb(238, 192, 67);
} .btn:active {
    box-shadow: 1px 1px 1px black inset;
    background-color: rgb(255, 174, 0);
}
</style>