<template>
    <div>
        <Header2 class="header"/>
        <div class="principal">
            <navBar class="active_1"/>
            <dateChoice class="date"/>
            <rightPan class="active_2"/>
        </div>
    </div>
</template>
    
<script>
import Header2 from '../components/Header_2.vue'
import navBar from '../components/NavBar.vue'
import dateChoice from '../components/DateChoice.vue'
import rightPan from '../components/RightPan.vue'
export default {
    components: {
        Header2,
        navBar,
        dateChoice,
        rightPan
    }
}
</script>

<style lang="postcss" scoped>
.header {
    /* position: fixed; */
    background-color: white;
    width:100%;
    z-index: 1;
}

.date {
    margin: 10px;
    width: 100%;
}

.principal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    margin-top: 120px;
    position: absolute;
}

@media only screen and (max-width:1024px) {
    [class*='active_2'] {
        display: none;
    }
    [class*='principal'] {
        margin-top: 7%;
    }
}

@media only screen and (max-width:768px) {
    [class*='header'] {
        height: 10%;
    }
    [class*='principal'] {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 450px) {
    [class*='active'] {
        display: none;
    }
    [class*='principal'] {
        margin-top: 15%;
        width: 100%;
    }
}

</style>