<template>
    <div>
        <Header/>
        <firstLogin/>
    </div>
</template>
    
<script>
import Header from '../components/Header.vue'
import firstLogin from '../components/FirstLogin.vue'
export default {
    components: {
      Header,
      firstLogin
    }
}
</script>

<style lang="postcss" scoped>

</style>