<template>
    <div>
        <Header/>
        <login/>
    </div>
</template>
    
<script>
import Header from '../components/Header.vue'
import login from '../components/Login.vue'
export default {
    components: {
      Header,
      login
    }
}
</script>

<style lang="postcss" scoped>

</style>